<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>{{ title }}</h1>

<h3>Электронные адреса</h3>

{{{ pHTML }}}

<ul>

    <li></li>

</ul>

<p>Телефон: </p>
</body>
<html>